<template name="manage">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/manage/bodypart">Body Part</a></li>
    <li role="presentation"><a href="#">Type</a></li>
    <li role="presentation"><a href="#">Workout</a></li>
  </ul>
</template>
