<template name="bodypart">
  <div class="row marketing">
    <div class="col-lg-10 col-centered">
      {{> managenav}}
      
      <div class="col-lg-7 col-centered-top-40">
        <hr>
        <div class="col-lg-7 col-centered">
          <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="bodyPartInput" placeholder="Body Part Name">
                <button type="button" class="btn btn-success" id="addBodyPart">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                </button>
            </div>
          </form>
        </div>
        <hr>
        <table class="table">
          <tbody>
            <tr class="info"><th>Body Part Name</th><th>Action</th></tr>
            {{#each bodyParts}}
            {{> bodyPartItem}}
            {{/each}}
          </tbody>
        </table>
      </div>
      
      <!--Edit body part model template-->
      {{> editBodyPartItem}}

    </div>
  </div>

</template>

<template name="bodyPartItem">
  <tr>
    <td name="{{name}}">{{name}}</td>
    <td>
      <a id="editBodyPart" class="no-href-link" data-toggle="modal" data-target="#editBodyPartModal" >Edit</a>
      <a href="" id="saveEditedBodyPart" class="no-href-link" style="display:none;">Save</a> | 
      <a id="deleteBodyPart" class="no-href-link">Delete</a>
    </td>
  </tr>
</template>

<template name="editBodyPartItem">
  <div class="modal fade" id="editBodyPartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editModalLabel"></h4>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="Body Part Name" class="form-control" id="editBodyPartInput">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveEditedBodyPart" data-bodypart-id="">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</template>

