<template name="workout">
  <div class="row marketing">
    <div class="col-lg-10 col-centered">
      {{> managenav}}
      <br><br>
      <a id="addNewWorkoutLink" class="btn btn-success pull-right" data-toggle="modal" data-target="#addWorkoutModal" >Add New Workout</a>
      <br><br>
      {{> workoutlist}}
    </div>
  </div>

  {{> addWorkoutModal}}
</template>

<template name="addWorkoutForm">
  <form class="form-horizontal">
    <div class="form-group">
    <label for="workoutName" class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="workoutName" placeholder="Workout Name" />
      </div>
    </div>
    <div class="form-group">
      <label for="bodyPart" class="col-sm-3 control-label">Body Part</label>
      <div class="col-sm-9">
        <select name="bodyPart" id="bodyPart" class="form-control">
          <option value="default-body-part">Select Body Part</option>
          {{#each bodyParts}}
            <option value="{{this._id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group form-inline">
    <label for="measuredIn" class="col-sm-3 control-label">Measured In</label>
      <div class="col-sm-9">
        <select name="measuredIn" id="measuredIn" class="form-control inline-select">
          <option value="deafault-measure-in">Select Unit of Measure</option>
          <option value="weight">weight</option>
          <option value="time">time</option>
          <option value="repetition">repetition</option>
        </select>
        <button class="btn btn-warning" id="addMeasuredIn">Add</button>
      </div>
    </div>
    <div class="form-group">
    <label for="selectedMeasuredIn" class="col-sm-3 control-label"></label>
      <div class="col-sm-9" id="selectedMeasuredIn">

      </div>
    </div>
  </form>
</template>

<template name="addWorkoutModal">
  <div class="modal fade" id="addWorkoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add New Workout</h4>
        </div>
        <div>
          <ul class="validation-errors">
            
          </ul>
        </div>
        <div class="modal-body">
          {{>addWorkoutForm}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="addNewWorkoutClose">Close</button>
          <button type="button" class="btn btn-primary" id="addWorkout" data-bodypart-id="">Add Workout</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="workoutlist">
  <table class="table">
    <tbody>
      <tr><th>Workout Name</th><th>Body Part</th><th>Unit of measure</th><th>action</th></tr>
    </tbody>
  </table>
</template>