.col-centered {
    float: none;
    margin: 0 auto;
}

.col-centered-top-40 {
  float: none;
  margin: 40px auto; 
}

.no-href-link {
  cursor: pointer;
}

.small-input {
  width: 200px;
}

.medium-input {
  width: 400px;
}

.inline-select {
  width: 362px !important;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.cursor-pointer {
  cursor: pointer;
}