<template name="basicLayout">
    <div class="container">
      <header>
          {{> header}}
      </header>
      
      {{> yield}}
      
      <footer>
          {{> footer}}
      </footer>

    </div>
    
</template>
