<template name="header">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="{{currentPageIs 'logworkout' }}"><a href="/logworkout">Log Workout</a></li>
        <li role="presentation" class="{{currentPageIs 'manage' }}"><a href="/manage">Manage</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">MyWorkout</h3>
  </div>
  <hr>
</template>

