<template name="managenav">
  <ul class="nav nav-tabs">
    <li role="presentation" class="{{currentPageIs 'manage.bodypart' }}"><a href="/manage/bodypart">Body Part</a></li>
    <li role="presentation" class="{{currentPageIs 'manage.workout' }}"><a href="/manage/workout">Workout</a></li>
  </ul>
</template>
